.card {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
  text-align: center;
  line-height: 1.35;
  padding: 12px;
	background: white;
	color: black;
}

.hanzi {
  font-size: 28px;
  font-weight: 500;
}
.hanzi.small { 
	font-size: 12px;
}

.pinyin {
  font-size: 32px;
  font-weight: 400;
	padding: 12px;
}
.pinyin.small {
	font-size: 12px;
	padding: 0;
}

.meaning {
  font-size: 32px;
  font-weight: 500;
	padding: 12px;
}

.example {
  max-width: 90%;
	padding: 12px;
}

.example .label {
  font-size: 12px;
  opacity: 0.66;
  margin-bottom: 6px;
}

.media {
  display: flex;
  justify-content: center;
}

.audio {
	padding: 12px;
}

.image img {
  max-width: 90%;
  max-height: 80px;
  border-radius: 8px;
}
